<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.v3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.v3.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.v3.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="android.v3.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeDarkActivity"
            android:label="@string/androidThemes"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@android:style/Theme.Holo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeLightActivity"
            android:label="@string/androidThemes"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeDarkLightActivity"
            android:label="@string/androidThemes"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeColorTitleBlueActivity"
            android:label="@string/coloredTitles"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@style/CustomActionBarThemeTitleBlue" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeColorTitleGreenActivity"
            android:label="@string/coloredTitles"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@style/CustomActionBarThemeTitleGreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeColorTitleRedActivity"
            android:label="@string/coloredTitles"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@style/CustomActionBarThemeTitleRed" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ThemeImageActivity"
            android:label="@string/imageThemes"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <activity
            android:name="android.v3.ActionBarOverlayActivity"
            android:label="@string/title_activity_action_bar_overlay"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@style/CustomActionBarThemeOverlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
        <!-- android:theme="@style/CustomActionBarThemeOverlay" -->
        <activity
            android:name="android.v3.AndroidThemesActivity"
            android:label="@string/title_activity_android_themes"
            android:parentActivityName="android.v3.MainActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.v3.MainActivity" />
        </activity>
    </application>

</manifest>
